html,body {
    width:100vw;
    height: 100vh;
    margin: 0;
}
#text{
    position: absolute;
    top: 100px;
    left: 0;
    right:0;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#fff;
}
#videoBG {
    position:fixed;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
    #videoBG {
        width:100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9) {
    #videoBG { 
        width:auto;
        height: 100%;
    }
}
@media (max-width: 767px) {
    #videoBG {
        display: none;
    }
    body {
        background: url('stockcap.PNG');
        background-size: cover;
    }
}
